.attraction-favorite {
  padding: 6rem 0;

  @media screen and (max-width: 767px) {
    padding: 3rem 0;
  }

  & > .container {
    max-width: 1170px;
  }

  .title {
    position: relative;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 3rem;
    color: #4e9f3d;
    margin: 0 auto;
    margin-bottom: 6rem;
    width: max-content;

    @media screen and (max-width: 767px) {
      margin-bottom: 4rem;
    }

    &::after {
      content: '';
      width: 70%;
      height: 3px;
      background-color: #4e9f3d;
      position: absolute;
      bottom: -1rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__list {
    --col: 4;
    --gap: 1.5rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--gap);
    margin-right: calc(-1 * var(--gap));

    @media screen and (max-width: 1023px) {
      --col: 3;
    }

    @media screen and (max-width: 767px) {
      --col: 2;
    }

    @media screen and(max-width: 460px) {
      --col: 1;
      column-gap: 0;
    }
  }

  li {
    width: calc(100% / var(--col) - var(--gap));
    height: 27rem;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    &::after {
      content: '';
      width: 100%;
      height: 100%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      position: absolute;
      background-color: rgba($color: #000000, $alpha: 0.3);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease;
    }

    .name {
      font-size: 2rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      text-transform: uppercase;
      z-index: 2;
      white-space: nowrap;
    }

    &:hover img {
      transform: scale(1.1);
    }
  }
}
