.banner {
  & > .container {
    max-width: 100%;
    padding: 0;

    @media screen and (min-width: 1920px) {
      max-width: 1470px;
      margin: 0 auto;
    }
  }

  .swiper-pagination-bullet {
    width: 1.2rem;
    height: 1.2rem;
  }
  .swiper-pagination-bullet-active-main {
    background-color: #4e9f3d;
  }
}
