.header {
  padding: 1rem 0;
  background-color: #fff;
  box-shadow: 0 2px 10px 0 rgba($color: #000, $alpha: 0.3);
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: block;
    max-width: 12rem;
  }

  &__nav {
    display: flex;
    align-items: center;

    @media screen and (max-width: 767px) {
      display: none;
    }

    li:not(:last-child) {
      margin-right: 3rem;
    }

    &-link {
      color: #191a19;
      font-weight: 500;
      text-transform: uppercase;
      transition: all 0.3s;
      &:hover {
        color: #1e5128;
      }
    }
  }

  &__toggle {
    font-size: 3rem;
    display: none;

    @media screen and (max-width: 767px) {
      display: block;
    }
  }
}
